// colors variables
$aquamarine: #b9e8dc;
$black: #000000;
$gray-dark: #53514d;
$gray-light: #a9a8a6;
$white: #ffffff;
$yellow: #c29c70;

// global variables
$frame-margin: 30px;
$content-width: 1154px;

// navigation variables
$nav-menu-height: 85px;
$nav-submenu-height: 80px;

// section variables
$subheader-line-margin: 56px;
