<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Sfotografuj wiersz - Zwierszuj fotografię | Konkurs</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/all.css">

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body>

  <div class="frame">
    <nav class="nav nav-menu-wrapper">
      <div class="nav-wrapper">
        <a href="/" class="link-logo">
          <img src="/img/logo_sfotografuj.png" alt="Logo Sfotografuj wiersz - Zwierszuj fotografię">
        </a>
        <ul class="nav-menu">
          <li>
            <a href="/o-konkursie" class="menu-link">
              o konkursie
            </a>
          </li>
          <li>
            <a href="/zglos-sie" class="menu-link">
              zgłoś się
            </a>
          </li>
          <li>
            <a href="/o-konkursie" class="menu-link">
              laureaci
            </a>
          </li>
          <li>
            <a href="/o-konkursie" class="menu-link last-child">
              kontakt
            </a>
          </li>
          <li>
            <a href="#" class="icon-svg menu-link-social" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 33 33">
                <path d="M19.6,14.6h-2.2V13c0-0.5,0.5-0.6,0.8-0.6c0.2,0,1.4,0,1.4,0v-2.2l-1.6,0c-2.2,0-2.8,1.6-2.8,2.7v1.8h-1.6v2.3
                h1.6c0,2.9,0,6.1,0,6.1h2.2c0,0,0-3.2,0-6.1h1.9L19.6,14.6z"/>
                <path d="M16.5,1.5c8.3,0,15,6.7,15,15s-6.7,15-15,15s-15-6.7-15-15S8.2,1.5,16.5,1.5 M16.5,0C7.4,0,0,7.4,0,16.5
                C0,25.6,7.4,33,16.5,33C25.6,33,33,25.6,33,16.5C33,7.4,25.6,0,16.5,0L16.5,0z"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="icon-svg menu-link-social last-child" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 33 33">
                <path d="M23.2,12.2c-0.2,0.1-0.9,0.4-1.5,0.4c0.4-0.2,1-1,1.1-1.5c-0.4,0.3-1.2,0.6-1.6,0.6c0,0,0,0,0,0
                c-0.5-0.5-1.2-0.9-1.9-0.9c-1.5,0-2.6,1.3-2.6,2.8c0,0.2,0,0.4,0.1,0.6h0c-2-0.1-4.3-1.1-5.6-2.9c-0.8,1.5-0.1,3.2,0.8,3.8
                c-0.3,0-0.9,0-1.2-0.3c0,1,0.4,2.3,2,2.8c-0.3,0.2-0.9,0.1-1.1,0.1c0.1,0.8,1.2,1.9,2.4,1.9c-0.4,0.5-1.9,1.5-3.7,1.2
                c1.2,0.8,2.6,1.3,4.1,1.3c4.3,0,7.6-3.7,7.4-8.3c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0C22.3,13.4,22.9,12.9,23.2,12.2z"/>
                <path d="M16.5,1.5c8.3,0,15,6.7,15,15s-6.7,15-15,15s-15-6.7-15-15S8.2,1.5,16.5,1.5 M16.5,0C7.4,0,0,7.4,0,16.5
                C0,25.6,7.4,33,16.5,33C25.6,33,33,25.6,33,16.5C33,7.4,25.6,0,16.5,0L16.5,0z"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="menu-link-last-edition" target="_blank">
              Poprzednia<br>edycja 2014
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="wrapper">
      <nav class="nav nav-submenu-wrapper">
        <div class="nav-wrapper">
          <ul class="nav-submenu">
            <li>
              <a href="/o-konkursie">
                o konkursie
              </a>
            </li>
            <li>
              <a href="#">
                artyści
              </a>
            </li>
            <li>
              <a href="#">
                jury
              </a>
            </li>
            <li>
              <a href="#">
                organizatorzy
              </a>
            </li>
            <li>
              <a href="#">
                partnerzy
              </a>
            </li>
            <li>
              <a href="/regulamin">
                regulamin
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main class="container main">
