$max-sponsors-height: 75px;

.sponsors {
  margin: 50px 0 50px 0;
  overflow: hidden;

  .sponsors-list {
    margin-top: 50px;
    overflow: hidden;

    li {
      float: left;
      margin-right: 25px;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        display: block;
        height: $max-sponsors-height;
        line-height: $max-sponsors-height;

        img {
          max-height: $max-sponsors-height;
          max-width: 200px;
          vertical-align: middle;
        }
      }
    }
  }
}
