.sponsors {
  margin: 50px 0 50px 0;
  overflow: hidden;

  .sponsors-list {
    margin-top: 50px;
    overflow: hidden;

    li {
      float: left;

      a {
        display: block;
      }
    }
  }
}
