<section class="about">
  <h1 class="header">
    Sfotografuj wiersz<br>
    Zwierszuj fotografię
  </h1>
  <h2 class="subheader">
    Idea konkursu
  </h2>
  <p>
    Poprzez trwający miesiąc konkurs chcemy wyłonić młodych, zdolnych artystów i dać im

możliwość zaprezentowania swoich tekstów i fotografii. Naszym celem jest, by event

wieńczący projekt stał się jedną z wizytówek Wrocławia. Do III edycji „Sfotografuj wiersz

– Zwierszuj fotografię” zaprosiliśmy poetkę: Justynę Bargielską oraz poetów Tomasza

Różyckiego, Wojciecha Bonowicza, Jakobe Mansztajna, którzy udostępnili nam po

jednych ze swoich wierszy – będą one punktem wyjścia dla fotografów biorących udział w

konkursie. Z kolei poetów do napisania konkursowych wierszy inspirować będą fotografie

Marleny Jabłońskiej, Izabeli Urbaniak, Marka Lapisa, Łukasza Kapy i Arnaua Vidala.
  </p>
  <h2 class="subheader">
    Finał konkursu
  </h2>
  <p>
    Prace finałowe zostaną wyłonione przez specjalnie powołane jury, w składzie: Marta

Przetakiewicz – kuratorka wystaw organizowanych w „Firleju”, Krzysztof Śliwka – poeta,

redaktor naczelny czasopisma „Helikopter”, Paweł Czarnecki – wielokrotnie nagradzany

fotograf oraz Joanna Figarska – prezes stowarzyszenia Młodych Twórców „KONTRAST”.

Finał projektu odbędzie się 17 marca podczas specjalnie zorganizowanego wernisażu we

wrocławskim klubie „Firlej”.
  </p>
  <a href="/zglos-sie" class="button">
    Zgłoś się do konkursu
  </a>
</section>
