<section class="about">
  <h1 class="header">
    Sfotografuj wiersz<br>
    Zwierszuj fotografię
  </h1>
  <h2 class="subheader">
    Idea konkursu
  </h2>
  <p>
    Poprzez trwający miesiąc konkurs chcemy wyłonić młodych, zdolnych artystów i dać im możliwość zaprezentowania swoich tekstów i fotografii. Naszym celem jest, by event wieńczący projekt stał się jedną z wizytówek Wrocławia. Do II edycji „Sfotografuj wiersz – Zwierszuj fotografię” zaprosiliśmy poetki: Joannę Mueller, Ilonę Witkowską i Joannę Żabnicką oraz poetów Grzegorza Jędrka i Macieja Taranka, którzy udostępnili nam po jednych ze swoich wierszy – będą one punktem wyjścia dla fotografów biorących udział w konkursie. Z kolei poetów do napisania konkursowych wierszy inspirować będą fotografie Filipa Zawady, Pawła Czarneckiego, Karola Krukowskiego, Tomasza Kulbowskiego i Michała Łuczaka.
  </p>
  <h2 class="subheader">
    Finał konkursu
  </h2>
  <p>
    Prace finałowe zostaną wyłonione przez specjalnie powołane jury, w składzie: Alicja Sawicka – dyrektor artystyczny Międzynarodowego Campusu Artystycznego FAMA, Marta Przetakiewicz – kuratorka wystaw organizowanych w „Firleju”, Tomasz Różycki – wielokrotnie nagradzany, jeden z najbardziej cenionych polskich poetów, Krzysztof Solarewicz – fotograf i kulturoznawca, Łukasz Kapa – redaktor naczelny „Dolnośląskiego Magazynu Fotograficznego”, Grzegorz Wroniszewski - fotograf, pasjonat street photo oraz Joanna Figarska – redaktor naczelna miesięcznika „Kontrast” oraz prezes stowarzyszenia Młodych Twórców „KONTRAST”. Finał projektu odbędzie się w maju podczas specjalnie zorganizowanego wernisażu we wrocławskim klubie „Firlej”.
  </p>
  <a href="/zglos-sie" class="button">
    Zgłoś się do konkursu
  </a>
</section>
