<section class="about">
  <h1 class="header">
    Aktualności
  </h1>
  <h2 style="color: #fff;">
    WYNIKI III OGÓLNOPOLSKIEJ EDYCJI KONKURSU "SFOTOGRAFUJ WIERSZ-ZWIERSZUJ FOTOGRAFIĘ"
  </h2>
  <ol style="color: #fff;">
    <li>
      "Sfotografuj wiersz":<br>
      Zdjęcie do wiersza Justyny Bargielskiej:<br />
      I miejsce - Małgorzata Broda<br />
      Wyróżnienia - Adam Piętak, Tomasz Suszczyński<br /><br />
      Zdjęcie do wiersza Wojciecha Bonowicza:<br />
      I miejsce - Anita Kulon<br />
      Wyróżnienie - Dominik Bargiel<br /><br />
      Zdjęcie do wiersza Jakobe Mansztajna:<br />
      I miejsce - Monika Marlicka-Robert<br /><br />
      Zdjęcie do wiersza Tomasza Różyckiego:<br />
      I miejsce - Klaudia Paliwoda<br />
      Wyróżnienie - Adriana Pietrzkiewicz<br /><br />
      Zdjęcie do wiersza Bartosza Sadulskiego:<br />
      I miejsce - Dorota Stomma<br />
      Wyróżnienia - Łucja Religa, Aleksandra Andrysiak, Irmina Rusicka<br />
    </li>
    <li style="margin-top: 20px;">
      "Zwierszuj fotografię":<br />
      Wiersz do zdjęcia Izabeli Urbaniak:<br />
      I miejsce - Norbert Łomotowski<br />
      Wyróżnienie - Hanna Janczak<br /><br />
      Wiersz do zdjęcia Arnaua Vidala:<br />
      I miejsce - Sebastian markiewicz<br /><br />
      Wiersz do zdjęcia Łukasza Kapy:<br />
      I miejsce - Anna Kowalczuk<br /><br />
      Wiersz do zdjęcia Marleny Jabłońskiej:<br />
      I miejsce - Aleksandra Makowska<br /><br />
      Wiersz do zdjęcia Marka Lapisa:<br />
      I miejsce - Aneta Włodarczyk
    </li>
  </ol>

</section>
