<section class="apply">
  <h1 class="header">
    Zgłoś się!
  </h1>
  <p>
    Cieszymy się, ze zdecydowałeś się/zdecydowałaś się na wzięcie udziału w III edycji konkursu! Zanim wyślesz maila, sprawdź jeszcze raz czy jest odpowiednio przygotowany:
  </p>
  <ol>
    <li>
      Format prac:
      <ol class="list-lower-latin">
        <li>
          wiersze: czcionka Times New Roman, wielkość 12, format pliku doc, odt., docx.;
        </li>
        <li>
          fotografie: format pliku jpg., png., wielkość – max. 1920×1080 pikseli.
        </li>
      </ol>
    </li>
    <li>
      W treści wiadomości należy podać dokładne dane osobowe (imię, nazwisko, adres zamieszkania oraz telefon kontaktowy) oraz tytuł i nazwisko autora wiersza/fotografii, który był inspiracją do powstałej pracy.
    </li>
  </ol>
  Mail konkursowy: <a href="mailto:sfotografujwiersz@gmail.com" class="link">sfotografujwiersz@gmail.com</a>
</section>
