<section class="about">
  <h1 class="header">
    Kontakt
  </h1>
  <p>
    Mail konkursowy: <a href="mailto:sfotografujzwierszuj@gmail.com" class="link">sfotografujzwierszuj@gmail.com</a>
  </p>
</section>
