<section class="about">
  <h1 class="header">
    Kontakt
  </h1>
  <p>
    Mail konkursowy: <a href="mailto:sfotografujwiersz@gmail.com" class="link">sfotografujwiersz@gmail.com</a>
  </p>
</section>
