  <section class="contest-info">
    <h1 class="header">
      Sfotografuj wiersz <br>zwierszuj fotografię
    </h1>
    <h2 class="subheader">
      Idea konkursu
    </h2>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar tortor quis fringilla sollicitudin. Nulla eget lectus ut odio luctus porta vel vel tortor.
    </p>
    <a href="#" class="button">
      Czytaj więcej
    </a>
  </section>
  <section class="contest-place-date-info">
    <h1 class="header">
      wernisaż 18.03.2016 <span class="minor">godz. 18:00</span>
    </h1>
    <h2 class="subheader">
      klub firlej, ul. grabiszyńska 56
    </h2>
  </section>
  <section class="artists">
    <h1 class="header">
      Artyści
    </h1>
    <h2 class="subheader">
      fotografowie
    </h2>
    <ul class="pictures-list">
      <li>
        <a href="#">
          <img src="/img/default_img.jpg">
          <div class="artist-info">
            <div class="artist-info__name">
              Adam Kowalski
            </div>
            <div class="artist-info__title">
              Pisarz/aktor
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/img/default_img.jpg">
          <div class="artist-info">
            <div class="artist-info__name">
              Adam Kowalski
            </div>
            <div class="artist-info__title">
              Pisarz/aktor
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/img/default_img.jpg">
          <div class="artist-info">
            <div class="artist-info__name">
              Adam Kowalski
            </div>
            <div class="artist-info__title">
              Pisarz/aktor
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/img/default_img.jpg">
          <div class="artist-info">
            <div class="artist-info__name">
              Adam Kowalski
            </div>
            <div class="artist-info__title">
              Pisarz/aktor
            </div>
          </div>
        </a>
      </li>
      <li class="last-in-the-row">
        <a href="#">
          <img src="/img/default_img.jpg">
          <div class="artist-info">
            <div class="artist-info__name">
              Adam Kowalski
            </div>
            <div class="artist-info__title">
              Pisarz/aktor
            </div>
          </div>
        </a>
      </li>
    </ul>
    <h2 class="subheader">
      poeci
    </h2>
    <ul class="pictures-list">
      <li>
        <a href="#">
          <img src="/img/default_img.jpg">
          <div class="artist-info">
            <div class="artist-info__name">
              Adam Kowalski
            </div>
            <div class="artist-info__title">
              Pisarz/aktor
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/img/default_img.jpg">
          <div class="artist-info">
            <div class="artist-info__name">
              Adam Kowalski
            </div>
            <div class="artist-info__title">
              Pisarz/aktor
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/img/default_img.jpg">
          <div class="artist-info">
            <div class="artist-info__name">
              Adam Kowalski
            </div>
            <div class="artist-info__title">
              Pisarz/aktor
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/img/default_img.jpg">
          <div class="artist-info">
            <div class="artist-info__name">
              Adam Kowalski
            </div>
            <div class="artist-info__title">
              Pisarz/aktor
            </div>
          </div>
        </a>
      </li>
      <li class="last-in-the-row">
        <a href="#">
          <img src="/img/default_img.jpg">
          <div class="artist-info">
            <div class="artist-info__name">
              Adam Kowalski
            </div>
            <div class="artist-info__title">
              Pisarz/aktor
            </div>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <section class="organizers-contact-wrapper">
    <section class="organizers">
      <h1 class="header">
        Organizatorzy
      </h1>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar tortor quis fringilla sollicitudin. Nulla eget lectus ut odio luctus porta vel vel tortor.
      </p>
      <a href="#" class="button">
        czytaj więcej
      </a>
    </section>
    <section class="contact">
      <h1 class="header">
        Zgłoś się!
      </h1>
      <p class="text">
        Zgłoś się do konkursu! Wyślij maila na adres <a class="link" href="mailto:konkurs@kontrast-wroclaw.pl">konkurs@kontrast-wroclaw.pl</a>
      </p>
    </section>
  </section>
  <section class="sponsors">
    <h2 class="subheader">
      Sponsorzy / partnerzy
    </h2>
    <ul class="sponsors-list">
      <li>
        <a href="http://kontrast-wroclaw.pl/" target="_blank">
          <img src="/img/sponsor_kontrast-wroclaw.png">
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img src="/img/sponsor_wroclaw.png">
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img src="/img/sponsor_firlej.png">
        </a>
      </li>
    </ul>
  </section>
