<section class="jury">
  <h1 class="header">
    Jury
  </h1>
  <ul class="person-list">
    <li>
      <div class="person-list__image-wrapper">

      </div>
      <div class="person-list__description-wrapper">
        <h2 class="person-list__author-name">
          Marta Przetakiewicz
        </h2>
        <p class="person-list__description">
          Historyk sztuki, absolwentka studiów podyplomowych na kierunku „Administracja i przedsiębiorczość w kulturze” w Dolnośląskiej Wyższej Szkole Służb Publicznych ASESOR we Wrocławiu, od 2007 roku kurator wystaw w Ośrodku Działań Artystycznych  „Firlej”. Koordynator wielu projektów kulturalnych i artystycznych, juror w konkursach fotograficznych. Współpracowała z Centrum Kultury „Zamek” w Leśnicy, gdzie zorganizowała kilka wystaw z zakresu malarstwa i fotografii oraz z wrocławskim Trochę Innym Festiwalem Fotografii (aktualnie TIFF Festival). Obecnie pracuje w Ośrodku Kultury i Sztuki we Wrocławiu w dziale Dolnośląskiego Festiwalu Artystycznego, który organizuje wystawy malarstwa, rzeźby, grafiki, fotografii w Polsce i za granicą.
        </p>
      </div>
    </li>
    <li>
      <div class="person-list__image-wrapper">
        <img src="/img/jury_joanna_figarska.jpg">
      </div>
      <div class="person-list__description-wrapper">
        <h2 class="person-list__author-name">
          Joanna Figarska
        </h2>
        <p class="person-list__description">
          Rocznik 1987. Absolwentka filologii polskiej na Uniwersytecie Wrocławskim (specjalność krytyka literacka i artystyczna). Od 2007 związana ze studencką rozgłośnią radiową Uniradio, której w latach 2007-2010 była zastępcą redaktora naczelnego. Od wiosny 2009 roku naczelna miesięcznika „Kontrast„. Prezes istniejącego od września 2010 roku Stowarzyszenia Młodych Twórców „KONTRAST”. Współpracowała m.in. z magazynem grozy „Lśnienie”, Fundacją „Moje Miasto”, Fundacją „PRO ARTE”, dwumiesięcznikiem „Coś na Progu”. Laureatka nagrody im. Marka Kasza dla najlepszego dziennikarza na 41. Międzynarodowym Campusie Artystycznym FAMA. Obecnie zajmuję się fotografią i pisaniem o niej. Prowadzi stronę o fotografii PunktyStyczne.
        </p>
      </div>
    </li>
    <li>
      <div class="person-list__image-wrapper">
        <img src="/img/jury_krzysztof_sliwka.jpg">
      </div>
      <div class="person-list__description-wrapper">
        <h2 class="person-list__author-name">
          Krzysztof Śliwka
        </h2>
        <p class="person-list__description">
          Rocznik 1967. Poeta, scenarzysta, redaktor magazynu HELIKOPTER. Autor ośmiu książek poetyckich, m.in. „Spokojne miasto” (1989), „Niepogoda dla kangura” (1996), „Rzymska czwórka” (1999), „Sztuka koncentracji” (2002), „Dżajfa & Gibana” (2008), „Budda Show” (2013). Laureat wielu nagród literackich, w tym Georga Trakla, Marka Hłaski oraz Rafała Wojaczka. W 2008 roku otrzymał nagrodę Stowarzyszenia Pisarzy Norweskich za najlepszy scenariusz na festiwalu filmowym w Grimstad. Mieszka we Wrocławiu.
        </p>
      </div>
    </li>
    <li>
      <div class="person-list__image-wrapper">
        <img src="/img/jury_pawel_czarnecki.jpg">
      </div>
      <div class="person-list__description-wrapper">
        <h2 class="person-list__author-name">
          Paweł Czarnecki
        </h2>
        <p class="person-list__description">
          Radioaktywny rocznik 86. Artysta wciąż poszukujący, głęboko zakorzeniony w środowisku sztuki nowych mediów. Specjalizuje się w dziedzinach: fotografia, film, grafika, street art. Laureat I Nagrody WBK Press Photo za cykl "Pokój z widokiem", nominowany do nagrody Grand Press Photo. Liczne wystawy fotograficzne m.in w Centrum Sztuki Współczesnej w Toruniu czy na Warszawskim Festiwalu Fotografii Artystycznej. Laureat nagrody im. Jana Sawki na Międzynarodowym Kampusie Artystycznym  FAMA. Jego filmy były prezentowane na kilkunastu festiwalach filmowych w kraju jak i za granicą m.in na Filmfestival im StadtHafen Rostock czy Guanajuato Festival International De Cine najważniejszej imprezie filmowej dla młodych twórców w Ameryce Łacińskiej. Jego eksperymentalna animacja „Supernova” zjeżdziła 31 miast na 4 kontynentach w ramach O!PLA ACROSS THE BORDERS. Nominowany do Nagrody Yach Film za najlepszy teledysk roku 2013.
        </p>
      </div>
    </li>
  </ul>
</section>
