<section class="about">
  <h1 class="header">
    ORGANIZATOR
  </h1>
  <p>
    Wrocławskie Stowarzyszenie Młodych Twórców „KONTRAST”. Istniejąca od 2010 roku grupa skupia wokół siebie młodych artystów, dziennikarzy, ilustratorów i fotografów. Przez 6 lat było wydawcą miesięcznika publicystyczno-kulturalnego „Kontrast”. Stowarzyszenie współorganizuje wystawy fotograficzne, prowadzi warsztaty dziennikarskie i patronuje wszelkim, nie tylko kulturalnym, wydarzeniom. Od 2015 roku jest organizatorem konferencji naukowych.
  </p>
  <img class="organizators-logo--kontrast" src="/img/logo_kontrast.png">
  <h1 class="header">
    WSPÓŁORGANIZATOR
  </h1>
  <p>
    Klub „Firlej” to jedno z najbardziej muzycznych miejsc na mapie Wrocławia. Sztandarowym projektem klubu jest Asymmetry Festival, przyciągający fanów muzyki alternatywnej z całej Europy. Festiwal prezentuje szerokie spektrum dokonań kultury niezależnej za pośrednictwem cyklu spotkań, warsztatów, koncertów.
  </p>
  <p>
    W ramach projektu "Miejsce dla sztuki w Firleju", klub organizuje także comiesięczne wystawy prac artystów z Polski i zagranicy. Projekt skupiony jest wokół fotografii, a jego celem jest wspieranie i propagowanie twórczości zarówno uznanych jak i młodych, rokujących artystów poprzez zorganizowanie im indywidualnej bądź zbiorowej wystawy. Cyklicznymi wydarzeniami w klubie są także: Dolnośląska Giełda Fonograficzna oraz Klub Realizatorów Filmowych. Pierwszy z nich to cotygodniowe spotkania miłośników muzyki zapisanej na analogowych i cyfrowych nośnikach. Na Giełdzie można kupić płyty winylowe, CD czy kasety, wymienić się nimi albo sprzedać. Z kolei Klub Realizatorów Filmowych to comiesięczne pokazy filmów amatorskich i niezależnych.
  </p>
  <p>
    Firlej organizuje także warsztaty dla najmłodszych i seniorów, które zdobywają sobie coraz większą renomę we Wrocławiu. Na deskach Firleja swoje sztuki odgrywają lokalne grupy teatralne, a znane zespoły muzyczne z całego świata i Polski dają w klubie niezapomniane koncerty.
  </p>
  <img class="organizators-logo--firlej" src="/img/sponsor_firlej.png">
</section>
