<section class="rules">
  <h1 class="rules__header">
    Regulamin otwartego konkursu poetycko-fotograficznego na wykonanie fotografii lub napisanie wiersza „Sfotografuj wiersz – Zwierszuj fotografię”
  </h1>
  <ol class="list-upper-roman">
    <li>
      ORGANIZATOR
      <ol>
        <li>
          Organizatorem konkursu jest Stowarzyszenie Młodych Twórców „KONTRAST” z siedzibą we Wrocławiu, ul. gen. Romualda Traugutta 147/14, 50-149 Wrocław.
        </li>
        <li>
          Organizator zastrzega sobie prawo do zmian w niniejszym Regulaminie, jeżeli jest to uzasadnione potrzebą uproszczenia lub zapewnienia sprawnego funkcjonowania Konkursu.
        </li>
        <li>
          Organizator zastrzega sobie prawo do przerwania lub odwołania Konkursu.
        </li>
        <li>
          Koszty produkcji prac fotograficznych i wierszy w celu ich prezentacji na wystawie pokrywa Organizator.
        </li>
        <li>
          W zakresie nieuregulowanym postanowieniami niniejszego Regulaminu stosuje się przepisy obowiązujące na terytorium Rzeczpospolitej Polskiej. Wszelkie ewentualne spory między Laureatami, a Organizatorem rozstrzygane będą wyłącznie przez sąd w mieście, gdzie znajduje się siedziba Organizatora.
        </li>
      </ol>
    </li>
    <li>
      ZASADY UCZESTNICTWA
      <ol>
        <li>
          Przedmiotem konkursu jest wykonanie fotografii do umieszczonych na stronie konkursu wierszy lub napisanie krótkiego tekstu poetyckiego odnoszącego się do jednej z wybranych fotografii, również znajdujących się na stronie w/w konkursu.
        </li>
        <li>
          W konkursie nie istnieją ograniczenia rodzajowe co do wyboru techniki wykonania zdjęcia, natomiast tekst literacki musi być tekstem poetyckim i mieć charakter wiersza.
        </li>
        <li>
          Uczestnikiem konkursu może być osoba między 18. a 40. rokiem życia. Osoby niepełnoletnie, które chciałyby wziąć udział w konkursie winny zgłosić się bezpośrednio do Organizatora: sfotografujwiersz@gmail.com
        </li>
        <li>
          Podstawowym kryterium oceny będzie pomysłowość, kreatywność oraz jakość nadesłanych prac.
        </li>
        <li>
          Zarówno fotografie jak i wiersze oceniane będą przez specjalnie powołane do tego celu Jury, w składzie: Joanna Figarska, Marta Przetakiewicz, Krzysztof Śliwka, Paweł Czarnecki.
        </li>
        <li>
          Decyzje Jury są ostateczne i niepodważalne.
        </li>
        <li>
          Do udziału w Konkursie nie będą dopuszczone prace:
          <ul>
            <li>
              publikowane wcześniej (także w formie elektronicznej),
            </li>
            <li>
              wykonane na odpłatne zlecenie,
            </li>
            <li>
              realizowane przy udziale członków Jury,
            </li>
            <li>
              były zwycięskimi pracami w innych konkursach,
            </li>
            <li>
              do których prawa autorskie należą do innych podmiotów.
            </li>
          </ul>
        </li>
        <li>
          Uczestnik zostanie zdyskwalifikowany, jeśli poprzez nadesłaną pracę narusza cudze prawa autorskie.
        </li>
        <li>
          Jeśli na fotografiach znajdują się osoby trzecie, fotograf powinien mieć ich zgodę na wykorzystanie wizerunku.
        </li>
      </ol>
    </li>
    <li>
      PRAWA AUTORSKIE
      <ol>
        <li>
          Zgłaszając wiersz lub fotografie, autorzy oświadczają, że przysługuje im autorskie prawo majątkowe i osobiste do nadesłanego utworu.
        </li>
        <li>
          Autorzy zgadzają się na publikowanie zwycięskich tekstów i fotografii przez organizatorów Konkursu na następujących polach eksploatacji: strona internetowa, portale społecznościowe, materiały promocyjne (plakaty, ulotki), na wystawie kończącej konkurs, która odbędzie się w klubie „Firlej”, publikacja w formie pdf i/lub drukowanej (jeśli zostanie podjęta taka decyzja).
        </li>
        <li>
          Autorzy oświadczają, że nie będą rościć praw do wynagrodzenia z tytułu wykorzystania nadesłanych przez nich wierszy i fotografii na polach eksploatacji wymienionych w punkcie III podpunkt 2. jeśli organizator nie będzie czerpał z ich twórczości korzyści finansowych.
        </li>
        <li>
          Autorzy zrzekają się praw majątkowych do wydrukowanych już prac.
        </li>
        <li>
          Wydrukowana praca przechodzi na własność Organizatora konkursu.
        </li>
      </ol>
    </li>
    <li>
      ZGŁOSZENIA
      <ol>
        <li>
          Format prac:
          <ol class="list-lower-latin">
            <li>
              wiersze: czcionka Times New Roman, wielkość 12, format pliku doc, odt., docx.;
            </li>
            <li>
              fotografie: format pliku jpg., png., wielkość – max. 1920×1080 pikseli.
            </li>
          </ol>
        </li>
        <li>
          W treści wiadomości należy podać dokładne dane osobowe (imię, nazwisko, adres zamieszkania oraz telefon kontaktowy) oraz tytuł i nazwisko autora wiersza/fotografii, który był inspiracją do powstałej pracy.
        </li>
        <li>
          Jedna osoba może nadesłać na konkurs jedną fotografię albo cykl maksymalnie dwóch  prac opisujący jeden wybrany wiersz lub jeden wiersz opisujący wybraną fotografię.
        </li>
        <li>
          Technika wykonania zdjęć jest dowolna, ale muszą być one przekazane w formie plików cyfrowych (jpg), o dłuższym boku nie większym niż 1000 px i nie mniejszym niz 800 px.
        </li>
        <li>
          Organizator zastrzega jednocześnie, że uczestnicy konkursu powinni dysponować cyfrowym zapisem fotografii w rozmiarze: dłuższy bok nie mniejszy niż 4000 px lub krótszy bok nie mniejszy niż 3000 px.
        </li>
        <li>
          Dopuszczalna jest korekta zdjęcia w programach graficznych, obejmująca: kadrowanie, ostrzenie, zmiany w poziomach kolorów, jasności i kontraście. Dopuszczalna jest również „głębsza interwencja” oraz fotomontaż.
        </li>
        <li>
          Prace powinny zostać przesłane na maila: sfotografujzwierszuj@gmail.com Oprócz imienia i nazwiska, numeru telefonu należy podać także tytuł wybranego wiersza/fotografii, do której powstała autorska praca.
        </li>
        <li>
          Prace niespełniające powyższych wymagań nie będą brane pod uwagę.
        </li>
        <li>
          Ostateczny termin przyjmowania zgłoszeń mija o północy 2 marca 2016 roku.
        </li>
        <li>
          Nadesłanie prac oznacza akceptację warunków Konkursu i Regulaminu.
        </li>
      </ol>
    </li>
    <li>
      NAGRODY
      <ol>
        <li>
          Nagrodą w konkursie jest udział w wystawie laureatów konkursu, która będzie zorganizowana we wrocławskim klubie „Firlej” 17 marca 2016 roku. Wszystkim laureatom konkursu będą wręczone dyplomy oraz nagrody rzeczowe.
        </li>
        <li>
          Ogłoszenie wyników konkursu nastąpi na stronie internetowej konkurs.kontrast-wroclaw.pl w dniu 7 marca 2016 roku.
        </li>
        <li>
          Laureaci zostaną powiadomieni o wyniku konkursu mailowo i telefonicznie.
        </li>
      </ol>
    </li>
  </ol>
</section>
